@import url('https://fonts.googleapis.com/css2?family=Lato');

:root {
    --green-bool: rgb(0, 150, 136);
    --pink-bool: rgb(217, 219, 212);
    --pink-actions-bool:rgb(243, 238, 234);
    --grey-bool: rgb(234, 234, 234);
    --grey-icon: rgb(177, 177, 177);
    --blue-bool: rgb(142, 218, 252);

}

body {
    font-family: 'Lato', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* input { */
    /* border:none; */
    /* background-image:none; */
    /* background-color:transparent; */
    /* -webkit-box-shadow: none; */
    /* -moz-box-shadow: none; */
    /* box-shadow: none; */
/* } */
/* Background */

.bg-gradient {
    background: linear-gradient(to top, var(--pink-bool) 80%, var(--green-bool) 50%);
}

.bg-grey {
    background: var(--grey-bool);
}

.bg-blu {
    background: var(--blue-bool);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* /Background */

/* Outcoming message */

.out-message {
    background: green;
}

/* Incoming message */
.in-message {
    background: white;
}

/* Tolgo lo stile dai link */
a {
    text-decoration: none;
}

/* Container */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Box */

.box {
    width: 80%;
    min-height: 40em;
    background: red;
}

/* /Box */

/* Colonne */

.col {
    display: flex;
    flex-direction: column;
    height: auto;

}

.left {
    width: 40%;
    float:left;
}

.right {
    width: 60%;
    float:left;
}

/* Colonne */

/* Sezioni colonna di sinistra */

.user,
.avatar,
.actions,
.notification,
.box-icon {
    display: flex;
    align-items: center;

}

.user,
.notification,
.actions {
    height: 4em;
}

.contacts {
    height: 29em;
}

.user {
    justify-content: space-between;
}

.user:hover{
    background-color: lightgray;
}

.avatar>img {
    width: auto;
    height: 3.5em;
    border-radius: 50%;
    margin-left: 0.5em;
}

.avatar>*,
.actions>* {
    margin-right: 2em;
}

.actions>* {
    color: var(--grey-icon);
}

.search {
    display: flex;
    justify-content: center;
    height: 3em;
}

.search>input {
    width: 90%;
    height: 80%;
    margin-top: 0.4em;
    border:none;
    box-shadow: none;
    background-color:transparent;
}


.box-icon {
    background-color: white;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.box-icon>i {
    color: var(--blue-bool);
    margin: 0 auto;

}

.message-important {
    font-size: 0.8em;
    color: black;
}

.text-notification a {
    font-size: 0.8em;
    color: rgb(82, 122, 147);
    text-decoration: underline;
}

.contacts ul {
    list-style: none;
}

.contacts li {
    border-top: 1px solid lightgrey;
    padding: 0.5em;
}

ul.users>li:last-of-type {
    border-bottom: 1px solid lightgrey;

}

/* Sezioni colonna di sinistra */

/* Sezioni colonna di destra */

.chat{
    min-height: 32em;
    background-image: url("../img/mine.jpg");
}

.actions-chat{
    height: 4em;
    background-color: var(--pink-actions-bool);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions-chat .emoticons,
.actions-chat .send-message,
.actions-chat .vocal-message{
        padding: 1em;
}

.actions-chat .send-message input{
    border:none;
    box-shadow: none;
    background-color:transparent;
    background-color: white;
    width: 40em;
    height: 2.5em;
    border-radius: 2%;
}

/* Chat */

.m-sent{
    float:left;
    width:40%;
    

}

.m-received{
    float:right;
    width:40%;
}

.m-sent > .message{
    background-color: white;

}

.m-received > .message{
    background-color:#d5f9ba;
   
}

.message{
    border: 0;
    border-radius: 10%;
    padding:0.5em;
    margin-top:10px;
    width:60%;
}